<a href="https://colab.research.google.com/github/delapieza/CS2021/blob/main/python20211011.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# python Data Type

Date: 20211011

Name:Bryan A. Dela pieza

# 1_Numerics Data Type

# Arithmetic operators

In [8]:
a = 17 / 3
a

5.666666666666667

In [9]:
b = 17 // 3
b

5

In [10]:
c = 17 % 3
c

2

17 = 5*3 + 2(remainder)

# Logical operators

In [29]:
x = 5
print(x > 7 and x < 13)

False

x = 5   ==>  [x > 7] true

[x < 13] TRUE

[x > 6] and [x < 13] ==> True and true ==> ture

In [12]:
x = 5
print(x > 7 and x > 13)

False

x = 5  ==> [x > 3] Ture |  [x>10] False 

[True] and [False] ==> False 


[True] and [True] ==> True

[True] and [False] ==> False 

[False] and [True] ==> False

[False] and [False] ==> False

In [13]:
x = 5
print(x > 7 or x > 13)

False

[True] or [True] ==> True

[True] or [False] ==> True

[False] or [True] ==> True

[False] or [False] ==> False

# Built-in functions

Python has many Built-in functions

In [28]:
bin(7)

'0b111'

decimal 3  ==> binary 

0b11 = 1*2 + 1 = 3

ob111 =? 

0b111 = 1* 2^2 + 1*2 +1 =7

In [15]:
int(0b111)

7

# 2_string data type

In [16]:
str3 = 'allows embedded "double" quotes'
str3

'allows embedded "double" quotes'

## operation on strings

index

In [17]:
var1 = 'Hello Python!'

print("var1[1]: ", var1[1])

var1[1]:  e

var1 = 'Hello Python!'

var1[0] ==> H

var1[1] ==> e

and so on

## slice operation

In [18]:
b = "Hello, World!"
#print(b[2:5])
#print(b[:6])
#print(b[2:])
print(b[-5:-2])

orl

## Python string method

https://www.w3schools.com/python/python_strings_methods.asp

## capitalize()	Converts the first character to upper case

In [19]:
txt = "hello, and welcome to my world."

x = txt.capitalize()

print (x)

Hello, and welcome to my world.

## Python String join() Method

In [20]:
myTuple = ("John", "Peter", "Vicky")

x = "#".join(myTuple)

print(x)

John#Peter#Vicky

In [21]:
txt = "grapes"

x = txt.ljust(20)

print(x, "is one of my favorite fruit.")

grapes               is one of my favorite fruit.

In [22]:
txt = "     grapes     "

x = txt.lstrip()

print("is one of my favorite fruit", x, "is my favorite")

is one of my favorite fruit grapes      is my favorite

# 3_list data type

In [23]:
list1 = [19, 31, 12, 10, 30, 96]

list1[1]

31

list1 = [19, 31, 12, 10, 30, 96]

index of list1

list1[0] => 19

list1[1] => 31

and so on

## slice operation

In [27]:
list1[1:3]

[31, 12]

## list built-in functions

In [24]:
len(list1)

6

In [25]:
max(list1)

96

In [26]:
min(list1)

10

## 4_dict data type


dict = {'Name': 'bryan', 'Age': 20, 'student': 'KSU'}

==> 3 key-value pairs

'Name': 'bryan'  ==> Name: key , bryan : value

'Age': 17

'student': 'KSU'


seperated by ,


many key-value pairs

In [1]:
dict = {'Name': 'bryan', 'Age': 20, 'student': 'KSU'}
print("dict['Age']: ", dict['Age'])

dict['Age']:  20